<p class="titulo">Extrato</p>
<table class="tabela">
    <thead>
        <th class="tabela" class="tabela__cabecalho" class="tabela__cabecalho__conteudo">Data</th>
        <th class="tabela" class="tabela__cabecalho" class="tabela__cabecalho__conteudo">Valor</th>
        <th class="tabela" class="tabela__cabecalho" class="tabela__cabecalho__conteudo">Destino</th>
    </thead>
    <tbody>
        <tr class="tabela__linha" *ngFor="let transferencia of transferencias">
            <td class="tabela" class="tabela__cabecalho" class="tabela__cabecalho__conteudo">{{transferencia.data | date: "short" }}</td>
            <td class="tabela" class="tabela__cabecalho" class="tabela__cabecalho__conteudo">{{transferencia.valor | currency }}</td>
            <td class="tabela" class="tabela__cabecalho" class="tabela__cabecalho__conteudo">{{transferencia.destino}}</td>
    </tbody>
</table>